th {
    text-align: left;
    border-bottom: .5rem transparent solid;
}
th, td {
    letter-spacing: .05rem;
}

small {
    font-size: .75rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    text-align: center;
}

@media print {
    * {
        font-family: Arial, sans-serif !important;
        background: #fff !important;
        color: #000 !important;
    }

    h1, p, table thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #000;
        margin-bottom: 1.5rem;
    }

    table tr:first-child {
        border-top: 1px solid #000;
        padding-top: 1.5rem;
    }

    table tr td {
        margin-bottom: 0.5rem;
    }

    table tr td:first-child {
        text-decoration: underline;
        margin-bottom: 1.5rem;
    }

    table tr td:nth-child(2)::before {
        content: "Username: ";
        font-weight: lighter;
    }

    table tr td:nth-child(3)::before {
        content: "Password:  ";
        font-weight: lighter;
    }

    table tr td:nth-child(2), table tr td:nth-child(3) {
        display: flex;
        gap: .5rem;
        font-weight: bold;
    }
}
