@font-face {
    font-family: 'easvhs';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/easvhs.ttf");
}

:root {
    font-size: calc(14px + .2vw);
    --pixel-font: 'easvhs', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}

a.button {
    text-decoration: none;
}
.button-bar .button, a.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    --clr-bg: #135275;
    background: var(--clr-bg);
    border: none;
    color: #fff;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background .3s, color .3s;
}
.button-bar .button:hover, .button-bar .button:focus, a.button:hover, a.button:focus {
    --clr-bg: #14a0cd;
}
.button-bar .button:disabled, a.button:disabled {
    --clr-bg: #6a6b9f;
    cursor: not-allowed;
}

span.orange {
    color: #ff9c28;
}
