#ui-overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background: #0b0b0e;
    overflow: auto;
    transition: opacity 0.3s, visibility 0s;
}
#ui-overlay[aria-hidden="true"] {
    /* animating this to/from transform:scale(0) causes serious performance issues (I mean really serious, the whole
        website freezes for more than a few seconds) (wtf is monaco doing lol). So just a simple opacity fade in: */
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0s 0.3s;
    opacity: 0;
}

#button-bar {
    padding-block: 1.5rem;
    display: flex;
    gap: 1rem;
}

.button-bar .button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    --clr-bg: #5865f2;
    background: var(--clr-bg);
    border: none;
    color: #fff;
    margin: 0;
    cursor: pointer;
}
.button-bar .button:hover, .button-bar .button:focus {
    --clr-bg: #4b5bd1;
}
.button-bar .button:disabled {
    --clr-bg: #6a6b9f;
    cursor: not-allowed;
}
#button-bar #editor-close-btn {
    margin-left: auto;
    --clr-bg: #ff4d4d;
}
#button-bar #editor-close-btn:hover, #button-bar #editor-close-btn:focus {
    --clr-bg: #ff3f3f;
}

.ui-overlay-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 3rem;
    box-sizing: border-box;
}

.editor-side-by-side-view {
    display: flex;
    flex: 1;
    gap: 3rem;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .editor-side-by-side-view {
        flex-direction: row;
    }

    .monaco-editor-container {
        flex: 1;
        flex-basis: 50%;
        max-width: calc(50% - 1.5rem);
    }
}

#execution-result {
    border: 1px solid #5865f2;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
    color: #fff;

    max-height: 30vh;
    overflow: auto;
}
#execution-result:empty {
    display: none;
}
#execution-result .clr-error {
    color: #ff4d4d;
}
#execution-result .clr-success {
    color: #30ef5f;
}
#execution-result .flex {
    display: flex;
    gap: .5rem;
    align-items: center;
}
#execution-result p,
#execution-result h2,
#execution-result pre {
    margin: 0;
}

.covered {
    background: #044313;
    margin-left: 1px;
    z-index: -1;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: transform 0.3s, opacity 0.3s, visibility 0s;

    padding-block: 2rem;
    padding-inline: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
#popup[aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
    opacity: 0;
}
#popup .button-bar {
    flex: 1;
}
#popup > * {
    margin: 0;
    text-align: center;
}

#unity-footer {
    display: none;
}
#unity-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
#unity-canvas {
    width: 100% !important;
    height: 100% !important;
    margin-block-end: -8px; /* for some reason the canvas is a few pixels too large */
}

#alarm {
    position: fixed;
    inset: -10vw;
    background-image: radial-gradient(closest-side, transparent 0%, rgba(255, 77, 77, .1) 45%, rgba(255, 43, 11,.5) 100%);
    opacity: 0;
    pointer-events: none;
}
#alarm.active {
    opacity: 1;
    animation: alarm 1.5s infinite;
}
@keyframes alarm {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
