#ui-overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background: #0b0b0e;
    overflow: auto;
}

#button-bar {
    padding-block: 1.5rem;
    display: flex;
    gap: 1rem;
}

#button-bar .button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    --clr-bg: #5865f2;
    background: var(--clr-bg);
    border: none;
    color: #fff;
    margin: 0;
    cursor: pointer;
}
#button-bar .button:hover, #button-bar .button:focus {
    --clr-bg: #4b5bd1;
}
#button-bar .button:disabled {
    --clr-bg: #6a6b9f;
    cursor: not-allowed;
}
#button-bar #editor-close-btn {
    margin-left: auto;
    --clr-bg: #ff4d4d;
}
#button-bar #editor-close-btn:hover, #button-bar #editor-close-btn:focus {
    --clr-bg: #ff3f3f;
}

.ui-overlay-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 3rem;
    box-sizing: border-box;
}

.editor-side-by-side-view {
    display: flex;
    flex: 1;
    gap: 3rem;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .editor-side-by-side-view {
        flex-direction: row;
    }

    .monaco-editor-container {
        flex: 1;
        flex-basis: 50%;
        max-width: calc(50% - 1.5rem);
    }
}

#execution-result {
    border: 1px solid #5865f2;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
    color: #fff;

    max-height: 30vh;
    overflow: auto;
}
#execution-result:empty {
    display: none;
}
#execution-result .clr-error {
    color: #ff4d4d;
}
#execution-result .clr-success {
    color: #30ef5f;
}
#execution-result .flex {
    display: flex;
    gap: .5rem;
    align-items: center;
}
#execution-result p,
#execution-result pre {
    margin: 0;
}

.covered {
    background: #044313;
    margin-left: 1px;
}