html, body {
    font-family: 'easvhs', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: black;
    color: white;
    height: 100%;
}

.teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.teaser h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: .3rem;
    text-align: center;
    line-height: 1.25;
    position: relative;
    z-index: 1;
}
.teaser h1 .orange {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 4rem;
}

.teaser img {
    transform: translateX(3%);
    margin-top: -3rem;
    pointer-events: none;
    user-select: none;
}

.teaser .button {
    margin-top: 4rem;
    font-size: 2rem;
    padding: 1rem 4rem;
}
