<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Admin Dashboard ─ Sojourner under Sabotage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#000000">
</head>
<body>
<main>
    <h1>Admin Dashboard</h1>
    <p>Monitor resources using Java Melody:<br><a th:href="@{/monitoring}">/monitoring</a></p>
    <p>Download data:<br><a href="/api/admin/data" id="download">get JSON file</a></p>
    <form th:action="@{/admin/survey}" method="POST">
        <div class="form-entry">
            <label for="surveyUrl">Survey URL</label>
            <input type="text" id="surveyUrl" th:name="surveyUrl" th:value="${surveyUrl}">
            <small>
                The username of the submitting user is appended to the URL.
                Using a query parameter like <code>&entry.1234=</code> at the end of the URL,
                it can be automatically inserted in a field.
            </small>
            <div class="checkbox-field">
                <input type="checkbox" id="showSurvey" name="showSurvey" th:checked="${showSurvey}">
                <label for="showSurvey">Survey link active</label>
            </div>
            <input type="submit" class="button" value="Change">
        </div>
    </form>
    <form th:action="@{/admin/create-accounts}" method="POST" th:unless="${createdUsers}">
        <div class="form-entry">
            <label for="amount">Create user accounts</label>
            <input type="number" max="200" name="amount" placeholder="amount" id="amount">
            <input type="submit" value="Create accounts" class="button">
        </div>
    </form>
    <div th:if="${createdUsers}" class="main-content-block">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <!--@thymesVar id="createdUsers" type="java.util.List"/-->
                <!--@thymesVar id="user" type="java.util.List"/-->
                <tr th:each="user : ${createdUsers}">
                    <td th:each="entry : ${user}" th:text="${entry}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:inline="javascript">
    window.token = /*[[${@jwtTokenSupplier.getJwtToken().orElse("")}]]*/ '';
    window.csrfHeader = {
        /*[[${_csrf.headerName}]]*/ ''
            : /*[[${_csrf.token}]]*/ ''
    };
    window.authHeader = {'Authorization': `Bearer ${window.token}`, ...window.csrfHeader};
</script>
<script>
    document.getElementById('download').addEventListener('click', async event => {
        event.preventDefault();
        const response = await fetch(event.target.href, {
            method: 'GET',
            headers: window.authHeader
        });
        const data = await response.json();
        const blob = new Blob([JSON.stringify(data)], {type: 'application/json'});
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'data.json';
        a.click();
        URL.revokeObjectURL(url);
    });
</script>
</body>
</html>
