<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sojourner under Sabotage | Unity WebGL Player</title>
    <link rel="stylesheet" th:href="@{unity/TemplateData/style.css}">
    <link rel="stylesheet" th:href="@{css/base.css}">
    <link rel="stylesheet" th:href="@{css/game.css}">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#000000">
  </head>
  <body>
    <div id="popup" aria-hidden="true">
      <h1 class="heading">Welcome to Sojourner under Sabotage</h1>
      <div class="content"></div>
      <div class="button-bar">
        <button class="button" id="continue-button">Let's start!</button>
      </div>
    </div>
    <div id="ui-overlay" aria-hidden="true">
      <div class="ui-overlay-layout">
        <div id="button-bar" class="button-bar">
          <button id="editor-execute-btn" class="button" title="Execute the tests (right) on the class (left)">Execute</button>
          <button id="editor-save-btn" class="button" title="Save class under test and tests">Save</button>
          <button id="editor-activate-test-btn" class="button">Activate Test</button>
          <button id="editor-close-btn" class="button">Close</button>
        </div>
        <div class="editor-side-by-side-view">
          <div class="monaco-editor-container" id="monaco-container-debug"></div>
          <div class="monaco-editor-container" id="monaco-container-test"></div>
        </div>
        <div id="execution-result"></div>
      </div>
    </div>
    <div id="unity-container">
      <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
      <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">SojournerUnderSabotage</div>
      </div>
    </div>
    <div id="alarm"></div>
    <script th:inline="javascript">
      var buildUrl = /*[[@{/unity/Build}]]*/ "Build";
    </script>
    <script th:src="@{/js/unity.js}"></script>
    <script th:src="@{/webpack/main.bundle.js}"></script>
    <script th:inline="javascript">
      window.token = /*[[${@jwtTokenSupplier.getJwtToken().orElse("")}]]*/ '';
      window.userId = /*[[${@userService.getCurrentUserId().get()}]]*/ '';
      window.csrfHeader = {
        /*[[${_csrf.headerName}]]*/ ''
        : /*[[${_csrf.token}]]*/ ''
      };
    </script>
    <script th:src="@{/js/ws.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/game.js}"></script>
  </body>
</html>
