<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register ─ Sojourner under Sabotage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages.css}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#000000">
</head>
<body>
<main>
    <h1 th:text="#{label.form.register}">form</h1>
    <form th:action="@{/register}" th:object="${user}" method="POST">
        <div class="form-entry">
            <label th:text="#{label.user.firstName}" for="firstname">first</label>
            <input th:field="*{firstName}" id="firstname"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}" class="error">Validation error</p>
        </div>
        <div class="form-entry">
            <label th:text="#{label.user.lastName}" for="lastname">last</label>
            <input th:field="*{lastName}" id="lastname"/>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}" class="error">Validation error</p>
        </div>
        <div class="form-entry">
            <label th:text="#{label.user.email}" for="email">email</label>
            <input type="email" th:field="*{email}" id="email"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}" class="error">Validation error</p>
        </div>
        <div class="form-entry">
            <label th:text="#{label.user.password}" for="password">password</label>
            <input type="password" th:field="*{password}" id="password"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}" class="error">Validation error</p>
        </div>
        <div class="button-bar">
            <input type="submit" th:value="#{label.form.submit}" class="button">
        </div>
    </form>
    <p class="cross-link">Already have an account?<br><a  th:href="@{/login}" th:text="#{label.form.loginLink}"></a>.</p>
</main>
</body>
</html>
